parameters:
    level: 5
    paths:
        - app
        - routes
        - public
        - bin
    excludePaths:
        - vendor
        - tests
    tmpDir: storage/.phpstan
    polluteScopeWithLoopInitialAssignments: true
